---
import { collection, getDocs } from "firebase/firestore";
import { db } from "../../firebase/client";
import PagesLayout from "../../layout/PagesLayout.astro";
import Dr1M from "../../components/Dr1M-en";
import { getStorage, ref, getDownloadURL } from "firebase/storage";
import { DATA_EN } from "../../service/data";
import Dr1D from "@/components/Dr1D-en";
import Dr2M from "@/components/Dr2M-en";
import Dr2D from "@/components/Dr2D-en";

import drIMG from "@/img/dr.jpg"
const lang = DATA_EN;
const langQuery = await getDocs(collection(db, "DATA_EN"));
let data: string | any = [""];
const storage = getStorage();
langQuery.forEach((doc) => {
  data.push(doc.data());
});

let img1: any;
let img2: any;
let img3: any;
let img4: any;

await getDownloadURL(ref(storage, "1.jpg")).then((url) => {
  img1 = url;
});
await getDownloadURL(ref(storage, "2.png")).then((url) => {
  img2 = url;
});
await getDownloadURL(ref(storage, "3.png")).then((url) => {
  img3 = url;
});
await getDownloadURL(ref(storage, "4.png")).then((url) => {
  img4 = url;
});
let titleStyle = "";
if (!data[4].hasM) {
  titleStyle = "hidden";
}
---

<PagesLayout title="Unser Team">
  <div class="mt-48">
    <div class="mb-28">
      <div
        class="bg-orange-500 p-2 text-white font-semibold w-full mb-20 text-2xl"
      >
        <h2>{lang.title2}</h2>
      </div>
      <img class="h-96 w-96 rounded-lg float-right" src={img1} alt="" />
      <h3 class="text-4xl decoration-orange-500 underline mb-16">
        Dr. Nadica Ewald
      </h3>
      <div class="mb-16 block">
        <p>{data[3].info}</p>
        <p>Birth Date: {data[3].birthInfo}</p>
        <p>Civil Status: {data[3].civilStatus}</p>
      </div>
      <span class="text-2xl decoration-orange-500 underline"
        >Work Experience and Training</span
      >
      <div class="mt-8 mb-16 block">
        <p>- {data[3].aT1}</p>
        <p>- {data[3].aT2}</p>
        <p>- {data[3].aT3}</p>
        <p>- {data[3].aT4}</p>
      </div>
      <span class="text-2xl decoration-orange-500 underline"
        >Diplomas and Further Training</span
      >
      <br />
      <a class="mt-10 mb-10 text-orange-500 font-medium" href="/de/diplomas"
        >See Diplomas</a
      >
      <div class="mt-8 mb-16 block">
        <Dr1D />
      </div>
      <span class="text-2xl decoration-orange-500 underline">Memberships</span>
      <div class="mt-8 block">
        <Dr1M />
      </div>
    </div>
    <div class="mb-28"> 
       <img class="max-w-[300px] rounded-lg float-right" src={img2} alt="" /> 
       <h3 class="text-4xl decoration-orange-500 underline mb-16"> 
        {data[4].name}
       </h3> 
       <div class=" font-bold text-xl mb-5 "> 
        {data[4].info}
       </div> 

<!--        <span class="text-2xl decoration-orange-500 underline"  -->
<!--          >Bei uns vereint Dr. Vergote höchste chirurgische Präzision mit ganzheitlicher Medizin – geprägt durch ihre familiären Wurzeln in der Humanmedizin und Oralchirurgie.   -->
<!-- </span>  -->
       <div class="mt-8 mb-16 block"> 
        <Dr2D />
       </div> 
       <!-- <span class="text-2xl decoration-orange-500 underline" -->
       <!--   >Medizinischer Werdegang</span>  -->
       <div class="mt-8 mb-16 block">
        <Dr2M/>
       </div> 

      <span class="text-2xl decoration-orange-500 underline">Memberships</span>
       <div class="mt-8 mb-16 block">
        <ul>
          <li>- SSO</li>
          <li>- SBCB</li>
        </ul>
       </div> 
      
       <!-- <span class="text-2xl decoration-orange-500 underline" -->
       <!--   >Ihr Behandlungsschwerpunkt in unserer Praxis:</span>  -->
       <!-- <div class="mt-8 mb-16 block"> -->
       <!--   <p class="ml-3 text-xl">Als Ihre Oralchirurgin setzt Dr. Vergote alle Eingriffe – von Implantaten bis zu chirurgischen Therapien – stets unter Beachtung des <b>biologischen Protokolls</b> um. Ihr Ansatz:</p>  -->
       <!-- </br> -->
       <!--   <p>- Minimale Belastung für den Organismus </p>  -->
       <!--   <p>- Biokompatible Materialien</p>  -->
       <!--   <p>- Ganzheitliche Betrachtung</p>  -->
       <!-- </div>  -->
    </div> 

    <div class="mb-28">
      <img class="h-72 w-96 rounded-lg float-right" src={img3} alt="" />
      <h3 class="text-3xl decoration-orange-500 underline mb-16">
        {data[1].name}
      </h3>
      <p class="mb-16">{data[1].bio}</p>
      <p>Civil Status: {data[1].civilStatus}</p>
      <p>Langugages: {data[1].sprachen}</p>
      <p>Hobbies: {data[1].hobbies}</p>
    </div>
    <div class="mb-28">
      <img class="h-72 w-96 rounded-lg float-right" src={img4} alt="" />
      <h3 class="text-3xl decoration-orange-500 underline mb-16">
        {data[2].name}
      </h3>
      <p class="mb-16">{data[2].bio}</p>
      <p>Zivilstand: {data[2].civilStatus}</p>
      <p>Sprachen: {data[2].sprachen}</p>
      <p>Hobbies: {data[2].hobbies}</p>
    </div>
  </div>
</PagesLayout>
