---
    import PagesLayout from "@/layout/PagesLayout.astro";
    import c1 from "../../img/c1.jpg";
    import { DATA_DEU } from "@/service/data";
    import kb from "../../img/kb.png"
    const lang = DATA_DEU
---

<PagesLayout title="Kronen-Brücken Prothetik" description="Verschönern Sie Ihr Lächeln mit Kronenbrückenprothetik | Expertenlösungen zur Wiederherstellung der Zahnfunktion und -ästhetik">
<div  class={ 'mx-auto'}>
            <div class="h-48"></div>
            <div class=" bg-orange-500"><h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.cTitle}</h3></div>
            <img class=" float-right mb-3 ml-3 rounded-lg" src={c1} alt="" />
            <h4 class="my-6 mt-6 text-xl font-semibold">{lang.cTitle1}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.cBio1}</p>
            <h4 class="my-6 mt-6 text-xl font-semibold">{lang.cTitle2}</h4>
            <p class="mb-6 mt-6 font-semibold">{lang.cBio2}</p>
            <img class="mt-10" src={kb} alt="">
        </div>
</PagesLayout>