---
    import PagesLayout from "@/layout/PagesLayout.astro"; 
    import hd3 from "../../img/hd3.jpg" 
    import { DATA_DEU } from "@/service/data";
    const lang = DATA_DEU
---

<PagesLayout title="Herd und Störfelddiagnostik" description="Verbessern Sie Ihr Zahngesundheit:  Störfelddiagnostik und -therapie | Entdecken Sie eine gezielte und effektive Zahnbehandlung">
            <div class={ 'mx-auto'}>
            <div class="h-48"></div>
            <div class=" bg-orange-500"><h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.hdTitle3}</h3></div>
            <img class=" rounded-lg float-right ml-3 mb-3" src={hd3} alt="" />
            <p class=" mb-6 mt-6 text-gray-800">{lang.ffdBio1}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle1}</h4>
            <p class=" mb-6 mt-6 text-gray-800">{lang.ffdBio2}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitlebjorn}</h4>
            <p class=" mb-6 mt-6 text-gray-800">{lang.ffdBiobjorn}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle2}</h4>
            <p class=" mb-6 mt-6 text-gray-800">{lang.ffdBio3}</p>
            <span class="mb-8 mt-8 font-semibold">{lang.ffdTitle3}</span>
            <ul class="mt-6 ml-5 mb-6 text-gray-800">
                <li>{lang.ffdL1}</li>
                <li>{lang.ffdL2}</li>
                <li>{lang.ffdL3}</li>
            </ul>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitlebjorn}</h4>
            <p class=" mb-6 mt-6 text-gray-800">{lang.ffdBiobjorn}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle4}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.ffdBio4}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle5}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.ffdBio5}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle6}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.ffdBio6}</p>
            <h4 class="mb-6 text-xl font-semibold">{lang.ffdTitle7}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.ffdBio7}</p>
        </div>
</PagesLinterference 