---
import PagesLayout from "@/layout/PagesLayout.astro";
import { DATA_DEU } from "@/service/data";
const lang = DATA_DEU;
---

<PagesLayout title="Homöopathie" description="Erkundung der Kunst der Homöopathie: Natürliche Heilung und ganzheitliches Wohlbefinden | Entdecken Sie die Vorteile der homöopathischen Medizin für Gesundheit und Gleichgewicht">
  <div class={"mx-auto"}>
    <div class="h-48"></div>
    <div class="bg-orange-500">
      <h3 class="bg-white ml-3 pl-4 text-2xl">{lang.hdTitle8}</h3>
    </div>
    <h4 class="my-6 text-xl font-semibold">{lang.hTitle}</h4>
    <p class="mb-6 mt-6 text-gray-800">{lang.hBio}</p>
    <h4 class="text-xl font-semibold">{lang.hTitle2}</h4>
    <p class="mb-6 mt-6 text-gray-800">{lang.hBio2}</p>
  </div>
</PagesLayout>
