---
    import PagesLayout from "@/layout/PagesLayout.astro";
    import i1 from "../../img/i1.png"
    import { DATA_DEU } from "@/service/data";
    const lang = DATA_DEU
---

<PagesLayout title="Implantologie" description="Stellen Sie Ihr Lächeln mit Zahnimplantaten wieder her | Experteneinblicke zum modernen Zahnersatz | Entdecken Sie dauerhafte und natürlich aussehende Zahnlösungen">
    <div  class={ 'mx-auto'}>
            <div class="h-48"></div>
            <div class=" bg-orange-500"><h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.iTitle}</h3></div>
            <img class=" float-right mb-3 ml-3 rounded-lg" src={i1} alt="" />
            <h4 class="my-6 mt-6 text-xl font-semibold">{lang.iTitle1}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.iBio1}</p>
            <h4 class="my-6 mt-6 text-xl font-semibold">{lang.iTitle2}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.iBio2}</p>
        </div>
</PagesLayout>