---
    import PagesLayout from "@/layout/PagesLayout.astro";
    import p1 from "../../img/p1.png"
    import PDList from "../../components/PDList"
    import { DATA_DEU } from "@/service/data";
    const lang = DATA_DEU
---

<PagesLayout title="Kinderzahnmedizin" description="Mit Kinderzahnheilkunde ein junges Lächeln fördern | Fachkundige Betreuung für die Mundgesundheit von Kindern | Entdecken Sie sanfte und effektive Zahnlösungen für Kinder">
<div  class={'mx-auto'}>
            <div class="h-48"></div>
            <div class=" bg-orange-500"><h3 class=" bg-white ml-3 pl-4 text-2xl">{lang.pTitle}</h3></div>
            <img class=" float-right mb-3 ml-3 rounded-lg" src={p1} alt="" />
            <h4 class="mb-6 mt-6 text-xl font-semibold">{lang.pTitle1}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.pBio1}</p>
            <h4 class="mb-6 mt-6 text-xl font-semibold">{lang.pTitle2}</h4>
            <PDList/> 
            <h4 class="mb-6 mt-6 text-xl font-semibold">{lang.pTitle3}</h4>
            <p class="mb-6 mt-6 text-gray-800">{lang.pBio3}</p>
        </div>
</PagesLayout>